body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #cc0000; /* Vermelho do traje */
    border-bottom: 2px solid #00008b; /* Azul Escuro */
    padding-bottom: 10px;
    margin-bottom: 20px;
}
img {
    max-width: 100%;
    height: auto;
    border: 5px solid #00008b;
    border-radius: 8px;
    margin-bottom: 20px;
}