body{
    font-family: Arial, sans-serif;
    margin: 0;
    background: aliceblue;
    color: black;
}

header{
    background: #306998;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1{
    margin: 0;
    font-size: 2.5rem;
}

header p{
    font-size: 1.2rem;
}

section{
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

h2{
    color: #306998;
}

ul{
    list-style: square;
    margin-left: 20px;
}
