body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: aliceblue;
    color: #333;
}

header{
    background-color: rgb(129, 4, 4);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1{
    margin: 0;
}

nav{
    margin-top: 10px;
}

nav a{
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:houver{
    text-decoration: underline;
}

section{
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

section h2{
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}

footer{
    background: #333;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
}

